
.section-marquee {
  .tapes-container {
    font-size: 160px;
  }
  //.second-tape-wrapper {
  //  transform: translateX(-10%);
  //}
  .marquee__inner {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.7) 10px 50px 40px 4px;
    //background-image: url('../assets/imgs/plastic.png');
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    //z-index: 11111;
    //position: relative;





    &:after{
      content: ""; // ::before and ::after both require content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: left center;
      background-image: url('../assets/imgs/tapePlastic.png');
      //background-size:cover;
      background-repeat: repeat;
      opacity: .7;
      z-index: 100011;
    }

    span {
      display: flex;
      z-index: 1001;

      span::after {
        align-self: center !important;
      }
    }
  }
}

.section-marquee.main-view {
  margin: 0;
  .first-tape-wrapper {
    transform: rotate(48deg);
    //transform: rotate(45deg);
    transform-origin: center;
  }

  .second-tape-wrapper {
    transform: rotate(-8deg);
    transform-origin: left;
  }

  .third-tape-wrapper{
    transform: rotate(16deg);
    transform-origin: right;

  }
}


.section-marquee {
  margin: 20rem 0 0 0;
  height: 30vh;

  @include for-tablet-landscape-up {
    margin: 10rem 0 10rem 0;
  }

  .tapes-container {
    //transform: translateX(-12.5%);
    //height: 200vh;
    position: absolute;
    left: -100%;
    //font-size: 80px;
    text-transform: uppercase;
    line-height: 1.2;

    @include for-big-desktop-up {
      transform: translateX(-2.5%) !important;
    }
    @include for-phone-only {
      font-size: 40px !important;
    }
    @include for-tablet-landscape-up {
      font-size: 40px;
      transform: translateX(-50%);
    }

    span {
      font-family: var(--ff-secondary-medium);
    }
  }

  .first-tape-wrapper {
    transform: rotate(6deg);
    //transform: rotate(16deg) translateX(0);
    transform-origin: center;
    @include for-big-desktop-up {
      transform: rotate(6deg) translateX(-5%);
    }

  }

  .tapes-container .first-tape-wrapper > .first-tape {
    background: var(--clr-grey-light);
    padding: 0 1rem;
    width: max-content;

    span {
      color: var(--clr-black);
    }
  }

  .second-tape-wrapper {
    transform: rotate(-2deg);
    transform-origin: center;

    @include for-tablet-landscape-up {
      transform-origin: right;
    }
    @include for-big-desktop-up {
      transform: rotate(-5deg) translateX(-5%);
    }
  }

  .tapes-container .second-tape-wrapper > .second-tape {
    background: var(--clr-secondary);
    padding: 0 1rem;
    width: max-content;

    span {
      color: var(--clr-black);
    }
  }

  .fourth-tape-wrapper {
    //transform: rotate(-13deg);
    z-index: -100;
    transform: rotate(-16deg) translateY(220%);
    transform-origin: left;
    position: relative;

    .fourth-tape {
      background: -webkit-radial-gradient(100% 10%, ellipse cover, #9d49c4 20%, rgba(72, 46, 151, 0) 30%), -webkit-radial-gradient(108% 98%, ellipse cover, rgba(72, 46, 151, 0.8) 10%, rgba(72, 46, 151, 0) 30%), -webkit-linear-gradient(bottom right, #c76ac9, #8254c7);
      background-size: auto, auto, auto;
      padding: 0 1rem;
      width: max-content;
    }
  }


  .third-tape-wrapper {
    transform: rotate(13deg);
    //transform-origin: center;
    @include for-tablet-landscape-up {
      transform: rotate(13deg) translateX(-50%);
    }
    @include for-big-desktop-up {
      transform: rotate(13deg) translateX(-10%);
    }
  }

  .tapes-container .third-tape-wrapper > .third-tape {
    background: var(--clr-black);
    border-top: 4px solid var(--clr-grey-light);
    border-bottom: 4px solid var(--clr-grey-light);
    padding: 0 1rem;
    width: max-content;

    span {
      //mix-blend-mode: normal;
      color: var(--clr-grey-light);
    }
  }

  .tapes-container .third-tape-wrapper > .third-tape {
    span {
      //z-index: -1;
      span:after {
        content: '';
        display: inline-block;
        align-self: center !important;
        width: 100px;
        height: 15px;
        background-color: var(--clr-grey-light);
        margin: 0 2rem;

        @include for-tablet-landscape-up {
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .tapes-container .second-tape-wrapper > .second-tape {
    span {
      span:after {
        content: '';
        display: inline-block;
        align-self: center !important;
        width: 100px;
        height: 15px;
        background-color: var(--clr-black);
        margin: 0 2rem;
        @include for-tablet-landscape-up {
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .tapes-container .first-tape-wrapper > .first-tape {
    span {
      span:after {
        content: '';
        display: inline-block;
        align-self: center !important;
        width: 100px;
        height: 15px;
        background-color: var(--clr-black);
        margin: 0 2rem;
        @include for-tablet-landscape-up {
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
      }
    }
  }

}